Repository boostcamp-2020/IssueTracker-16, pull requests merged in 2020-11, with the labels that each got.

#105 [iOS] 이슈 화면 UI 구현, 모델 정의
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/Supporting Files/Info.plist
  iOS/IssueTracker/IssueTracker/Usecase/IssueInteractor.swift
  iOS/IssueTracker/IssueTracker/Utils/UIView+IBInspectable.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: 🍎iOS

#112 [client] react app 초기 설정
  web/client/.eslintrc.json
  web/client/.gitignore
  web/client/README.md
  web/client/babel.config.js
  web/client/package-lock.json
  web/client/package.json
  web/client/public/favicon.ico
  web/client/public/index.html
  web/client/public/logo192.png
  web/client/public/logo512.png
  web/client/public/manifest.json
  web/client/public/robots.txt
  web/client/src/App.css
  web/client/src/App.js
  web/client/src/App.test.js
  web/client/src/index.css
  web/client/src/index.html
  web/client/src/index.js
  web/client/src/index.scss
  web/client/src/logo.svg
  web/client/src/reportWebVitals.js
  web/client/src/setupTests.js
  web/client/webpack.config.js
  web/client/webpack.dev.js
Labels: Client

#113 [server] DB 설계 변경
  web/server/src/db/models/assignee.js
  web/server/src/db/models/comment.js
  web/server/src/db/models/index.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/label.js
  web/server/src/db/models/reply.js
  web/server/src/db/models/user.js
Labels: Server

#114 [server & client] DB 모델 및 관계 수정, 클라이언트 앱 개발환경 수정
  web/client/.eslintrc.json
  web/client/.gitignore
  web/client/README.md
  web/client/babel.config.js
  web/client/package-lock.json
  web/client/package.json
  web/client/public/favicon.ico
  web/client/public/index.html
  web/client/public/logo192.png
  web/client/public/logo512.png
  web/client/public/manifest.json
  web/client/public/robots.txt
  web/client/src/App.css
  web/client/src/App.js
  web/client/src/App.test.js
  web/client/src/index.css
  web/client/src/index.html
  web/client/src/index.js
  web/client/src/index.scss
  web/client/src/logo.svg
  web/client/src/reportWebVitals.js
  web/client/src/setupTests.js
  web/client/webpack.config.js
  web/client/webpack.dev.js
  web/server/src/db/models/assignee.js
  web/server/src/db/models/comment.js
  web/server/src/db/models/index.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/label.js
  web/server/src/db/models/reply.js
  web/server/src/db/models/user.js
Labels: Client, Merge:dev, Server

#118 [iOS] issue List Cell UI 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/GithubLabel.swift
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/PaddingLabel.swift
Labels: 🍎iOS

#121 [server] issue api 초기 구조 세팅
  web/server/src/controllers/issues.js
  web/server/src/routes/index.js
  web/server/src/routes/issues.js
  web/server/src/services/issues.js
Labels: Server

#123 [server] 마일스톤 단건 조회 API 구현
  web/server/src/controllers/milestones.js
  web/server/src/routes/milestones.js
  web/server/src/services/milestones.js
Labels: API, Server

#122 [client] Issue 리스트 구성 컴포넌트 설정
  web/client/src/App.js
  web/client/src/components/Header.js
  web/client/src/components/IssueItem.js
  web/client/src/components/IssueList.js
  web/client/src/components/IssueListBody.js
  web/client/src/components/IssueListHeader.js
  web/client/src/components/IssueListNav.js
  web/client/src/components/SearchBar.js
  web/client/src/index.js
  web/client/src/pages/IssueListPage.js
Labels: Client

#126 [server] 이슈 전체 목록 조회 API
  web/server/src/controllers/issues.js
  web/server/src/db/models/issue.js
  web/server/src/services/issues.js
Labels: API, Server

#125 [server] Issue 단건 조회 API 구현
  web/server/src/controllers/issues.js
  web/server/src/db/models/comment.js
  web/server/src/db/models/label.js
  web/server/src/db/models/user.js
  web/server/src/db/seeders/20201103022956-assignment.js
  web/server/src/services/issues.js
Labels: API, Server

#128 [client] 레이블 리스트 페이지 컴포넌트 구성
  web/client/src/components/Label.js
  web/client/src/components/LabelItem.js
  web/client/src/components/LabelList.js
  web/client/src/components/LabelListBody.js
  web/client/src/components/LabelListHeader.js
  web/client/src/components/LabelListNav.js
  web/client/src/pages/LabelListPage.js
Labels: Client

#129 [client] 마일스톤 리스트 페이지 컴포넌트 구성
  web/client/src/components/MilestoneItem.js
  web/client/src/components/MilestoneList.js
  web/client/src/components/MilestoneListBody.js
  web/client/src/components/MilestoneListHeader.js
  web/client/src/components/MilestoneListNav.js
  web/client/src/components/MilestoneProgress.js
  web/client/src/pages/MilestoneListPage.js
Labels: Client

#133 [server] API 서버에 존재하지 않는 URI 요청시 에러처리
  web/server/src/app.js
Labels: Server

#134 [server] 컨트롤러와 서비스의 클래스 구조를 object 형태로 변환
  web/server/src/controllers/issues.js
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
  web/server/src/services/issues.js
  web/server/src/services/labels.js
  web/server/src/services/milestones.js
Labels: API, Server

#131 [iOS] issue edit 모드 UI
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/check.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/check.imageset/check.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/uncheck.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/uncheck.imageset/uncheck.png
  iOS/IssueTracker/IssueTracker/Utils/UIView+IBInspectable.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/ActionCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
Labels: 🍎iOS

#136 클라이언트에 API 적용 및 css-in-js 방식의 스타일 적용
  web/client/package-lock.json
  web/client/package.json
  web/client/src/App.js
  web/client/src/components/IssueItem.js
  web/client/src/components/IssueListBody.js
  web/client/src/components/Label.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/issueList/IssueList.js
  web/client/src/components/issueList/IssueListBody.js
  web/client/src/components/issueList/IssueListHeader.js
  web/client/src/components/issueList/IssueListNav.js
  web/client/src/components/issueList/SearchBar.js
  web/client/src/components/labelList/Label.js
  web/client/src/components/labelList/LabelItem.js
  web/client/src/components/labelList/LabelList.js
  web/client/src/components/labelList/LabelListBody.js
  web/client/src/components/labelList/LabelListHeader.js
  web/client/src/components/labelList/LabelListNav.js
  web/client/src/components/milestoneList/MilestoneItem.js
  web/client/src/components/milestoneList/MilestoneList.js
  web/client/src/components/milestoneList/MilestoneListBody.js
  web/client/src/components/milestoneList/MilestoneListHeader.js
  web/client/src/components/milestoneList/MilestoneListNav.js
  web/client/src/components/milestoneList/MilestoneProgress.js
  web/client/src/index.html
  web/client/src/pages/IssueListPage.js
  web/client/src/pages/LabelListPage.js
  web/client/src/pages/MilestoneListPage.js
  web/client/webpack.dev.js
Labels: API, Client

#140 [iOS] issue 상/하 로직 구현
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
Labels: 🍎iOS

#146 Error 페이지 설정
  web/client/package-lock.json
  web/client/package.json
  web/client/src/App.js
  web/client/src/index.html
  web/client/src/pages/ErrorPage/ErrorPage.js
  web/client/src/pages/ErrorPage/ErrorPage.scss
  web/client/src/pages/IssueListPage.js
  web/client/src/pages/LabelListPage.js
  web/client/src/pages/MilestoneListPage.js
Labels: Client

#147 공통 컴포넌트 분리 및 추가
  web/client/src/components/Header.js
  web/client/src/components/common/FormButton.js
  web/client/src/components/common/Header.js
  web/client/src/components/common/Label.js
  web/client/src/components/common/LabelMilestoneNavigator.js
  web/client/src/components/common/LinkButton.js
  web/client/src/components/common/ListBody.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ListItem.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/labelList/LabelItem.js
  web/client/src/pages/IssueListPage.js
  web/client/src/pages/LabelListPage.js
  web/client/src/pages/MilestoneListPage.js
Labels: Client

#145 [iOS] 상세화면 Cell UI, Bottom Sheet UI, 추가&편집화면 UI 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/AddIssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Views/ActionCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/MilestoneCollectionViewCell.swift
Labels: 🍎iOS

#148 공통 컴포넌트 Header 및 IssueListNav 버튼 스타일 적용
  web/client/src/components/common/Header.js
  web/client/src/components/issueList/IssueListNav.js
  web/client/src/pages/IssueListPage.js
  web/client/src/statics/svg/label.js
  web/client/src/statics/svg/milestone.js
  web/client/src/statics/svg/repository.js
Labels: Client, style

#150 공통 컴포넌트 레이아웃 설정 및 마일스톤 리스트 스타일 적용
  web/client/src/components/common/Header.js
  web/client/src/components/common/ListBody.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ListItem.js
  web/client/src/components/milestoneList/MilestoneItem.js
  web/client/src/components/milestoneList/MilestoneListBody.js
  web/client/src/components/milestoneList/MilestoneListHeader.js
  web/client/src/components/milestoneList/MilestoneProgress.js
  web/client/src/index.scss
Labels: API, Client, style

#151 Issue List 페이지 및 Milestone List 페이지 스타일 설정
  web/client/src/components/common/LabelMilestoneNavigator.js
  web/client/src/components/common/ListBody.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ListItem.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/issueList/IssueListBody.js
  web/client/src/components/issueList/IssueListHeader.js
  web/client/src/components/issueList/IssueListNav.js
  web/client/src/components/milestoneList/MilestoneListHeader.js
  web/client/src/components/milestoneList/MilestoneListNav.js
  web/client/src/pages/IssueListPage.js
  web/client/src/statics/svg/label.js
  web/client/src/statics/svg/milestone.js
Labels: Client, style

#152 2주차 데모준비-1
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Services/APIManager.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/Utils/UIViewController+segueIdentifier.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/NetworkService/Service/DataRequest.swift
  iOS/IssueTracker/NetworkService/Service/NetworkManager.swift
Labels: 🍎iOS

#154 댓글 네비게이터 연결 및 기타 UI 작업
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
Labels: 🍎iOS

#153 Label 페이지 기본 레이아웃 및 데이터 렌더링
  web/client/src/components/labelList/LabelItem.js
  web/client/src/components/labelList/LabelList.js
  web/client/src/components/labelList/LabelListBody.js
  web/client/src/components/labelList/LabelListHeader.js
  web/client/src/components/labelList/LabelListNav.js
  web/client/src/pages/LabelListPage.js
Labels: API, Client, style

#155 공통 컴포넌트 작업
  web/client/src/components/common/GreenButton.js
  web/client/src/components/common/Header.js
  web/client/src/components/common/LabelMilestoneNavigator.js
  web/client/src/components/common/ListBody.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ListNav.js
  web/client/src/components/common/ListPage.js
  web/client/src/components/issueList/IssueListNav.js
  web/client/src/components/labelList/LabelItem.js
  web/client/src/components/labelList/LabelListBody.js
  web/client/src/components/labelList/LabelListHeader.js
  web/client/src/components/labelList/LabelListNav.js
  web/client/src/components/milestoneList/MilestoneItem.js
  web/client/src/components/milestoneList/MilestoneListNav.js
  web/client/src/components/milestoneList/MilestoneProgress.js
  web/client/src/pages/IssueListPage.js
  web/client/src/pages/LabelListPage.js
  web/client/src/pages/MilestoneListPage.js
Labels: Client

#156 코멘트 테스트 데이터 수정
  web/server/src/db/seeders/20201103020642-comment.js
Labels: Server

#157 [iOS] 배포 준비
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/100.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/1024.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/114.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/120.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/128.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/144.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/152.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/16.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/167.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/172.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/180.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/196.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/20.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/216.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/256.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/29.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/32.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/40.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/48.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/50.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/512.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/55.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/57.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/58.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/60.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/64.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/72.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/76.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/80.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/87.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/88.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/git.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/git.imageset/git.png
  iOS/IssueTracker/IssueTracker/Supporting Files/Info.plist
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/GithubLabel.swift
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/NetworkService/Service/NetworkManager.swift
Labels: 🍎iOS

#165 배포 이후 버그 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/APIResponse.swift
  iOS/IssueTracker/IssueTracker/Services/APIManager.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/Usecase/IssueInteractor.swift
  iOS/IssueTracker/IssueTracker/Usecase/LabelInteractor.swift
  iOS/IssueTracker/IssueTracker/Usecase/MilestoneInteractor.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/BlockResponderView.swift
  iOS/IssueTracker/IssueTracker/Views/PaddingLabel.swift
  iOS/IssueTracker/NetworkService/Service/Request.swift
Labels: 🍎iOS

#161 scss 방식으로 적용한 스타일을 css-in-js 방식으로 변경
  web/client/src/App.js
  web/client/src/GlobalStyle.js
  web/client/src/index.js
  web/client/src/index.scss
  web/client/src/pages/ErrorPage.js
  web/client/src/pages/ErrorPage/ErrorPage.js
  web/client/src/pages/ErrorPage/ErrorPage.scss
Labels: Client

#167 Milestone 모델에 isClosed 컬럼 추가
  web/server/src/db/models/milestone.js
Labels: API, Server

#172 DetailVC-BottomSheetVC 구조 개선, 그 외 기능 수정
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertDateInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: 🍎iOS

#178 comment api boilerplate 및 모델 재설정
  web/server/src/controllers/comments.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/label.js
  web/server/src/db/seeders/20201027084138-milestone.js
  web/server/src/db/seeders/20201103023504-labeling.js
  web/server/src/routes/comments.js
  web/server/src/routes/index.js
  web/server/src/services/comments.js
  web/server/src/services/issues.js
Labels: API, Server

#181 Issue 수정 API
  web/server/src/controllers/issues.js
  web/server/src/db/models/milestone.js
  web/server/src/routes/issues.js
  web/server/src/services/issues.js
Labels: API, Server

#187 milestone 전체조회 API open/closed count 추가
  web/server/src/controllers/milestones.js
  web/server/src/services/milestones.js
Labels: API, Server

#189 labeling API, assignment API 추가 및 milestone update API 수정
  web/server/src/controllers/assignments.js
  web/server/src/controllers/labelings.js
  web/server/src/controllers/milestones.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/label.js
  web/server/src/db/models/user.js
  web/server/src/routes/assignments.js
  web/server/src/routes/index.js
  web/server/src/routes/labelings.js
  web/server/src/routes/milestones.js
  web/server/src/services/assignments.js
  web/server/src/services/labelings.js
Labels: API, Server

#186 이슈, 코멘트 API 구현 / 일부 외래키 설정 변경
  web/server/src/controllers/comments.js
  web/server/src/controllers/issues.js
  web/server/src/db/models/comment.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/user.js
  web/server/src/routes/comments.js
  web/server/src/routes/issues.js
  web/server/src/services/comments.js
  web/server/src/services/issues.js
Labels: API, Server

#188 issue 전체 조회 API open/closed count 추가
  web/server/src/controllers/issues.js
  web/server/src/services/issues.js
Labels: API, Server

#184 마일스톤 탭 API, AddAlertInputVC 저장 터치 시 유효성 검증, 경고 표시 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Utils/UIAlertController+simpleAlert.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/MilestoneCollectionViewCell.swift
Labels: 🍎iOS

#191 labeling 추가 및 assignment 추가 API 유효성 검사 로직 추가
  web/server/src/controllers/assignments.js
  web/server/src/controllers/labelings.js
  web/server/src/services/assignments.js
  web/server/src/services/labelings.js
Labels: API, Server

#193 데이터 관리 컴포넌트 변경 및 List Header 에 데이터 추가
  web/client/src/components/common/ListHeader.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/issueList/IssueList.js
  web/client/src/components/issueList/IssueListBody.js
  web/client/src/components/issueList/IssueListHeader.js
  web/client/src/components/labelList/LabelList.js
  web/client/src/components/labelList/LabelListBody.js
  web/client/src/components/labelList/LabelListHeader.js
  web/client/src/components/milestoneList/MilestoneList.js
  web/client/src/components/milestoneList/MilestoneListBody.js
  web/client/src/components/milestoneList/MilestoneListHeader.js
Labels: API, Client

#198 utils 디렉터리 추가 및 util 코드 추가
  web/client/src/components/common/Label.js
  web/client/src/utils/color.js
  web/client/src/utils/isLightColor.js
Labels: Client

#202 이슈 추가 및 편집 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Comment.swift
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Models/User.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddIssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/CommentViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
Labels: 🍎iOS

#205 status code 분리 작업
  web/server/src/common/errorHandler.js
  web/server/src/common/status.js
  web/server/src/controllers/assignments.js
  web/server/src/controllers/comments.js
  web/server/src/controllers/issues.js
  web/server/src/controllers/labelings.js
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
  web/server/src/services/assignments.js
  web/server/src/services/labelings.js
Labels: API, Server

#204 Issue 리스트 스타일 수정 및 open/closed 탭 구현
  web/client/package-lock.json
  web/client/package.json
  web/client/src/components/common/GreenButton.js
  web/client/src/components/common/Header.js
  web/client/src/components/common/Label.js
  web/client/src/components/common/LabelMilestoneNavigator.js
  web/client/src/components/common/LinkButton.js
  web/client/src/components/common/ListBody.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ListItem.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/issueList/IssueList.js
  web/client/src/components/issueList/IssueListHeader.js
  web/client/src/components/milestoneList/MilestoneItem.js
  web/client/src/pages/IssueListPage.js
  web/client/src/statics/svg/checkIcon.js
  web/client/src/statics/svg/closedIssue.js
  web/client/src/statics/svg/openIssue.js
  web/client/src/utils/color.js
  web/client/src/utils/getDiffTime.js
Labels: Client, style, web

#225 써드파티 로그인 구현, 필터 UI 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Services/EndPoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/Supporting Files/Info.plist
  iOS/IssueTracker/IssueTracker/ViewControllers/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/FilterCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/FilterCollectionViewListCell.swift
  iOS/IssueTracker/IssueTracker/Views/IssueDetailHeaderView.swift
Labels: 🍎iOS

#215 서버의 app.js의 에러 코드/메시지 변경
  web/server/src/app.js
Labels: Server, web

#216 milestone 페이지 스타일, 기능 추가 및 페이지 레이아웃 수정
  web/client/package-lock.json
  web/client/package.json
  web/client/src/components/common/GreenButton.js
  web/client/src/components/common/Label.js
  web/client/src/components/common/LabelMilestoneNavigator.js
  web/client/src/components/common/LinkButton.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ListItem.js
  web/client/src/components/common/ListNav.js
  web/client/src/components/common/ListPage.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/issueList/IssueListHeader.js
  web/client/src/components/labelList/LabelItem.js
  web/client/src/components/labelList/LabelListHeader.js
  web/client/src/components/labelList/LabelListNav.js
  web/client/src/components/milestoneList/MilestoneItem.js
  web/client/src/components/milestoneList/MilestoneList.js
  web/client/src/components/milestoneList/MilestoneListHeader.js
  web/client/src/components/milestoneList/MilestoneListNav.js
  web/client/src/components/milestoneList/MilestoneProgress.js
  web/client/src/pages/IssueListPage.js
  web/client/src/pages/LabelListPage.js
  web/client/src/pages/MilestoneListPage.js
  web/client/src/statics/svg/calendarIcon.js
  web/client/src/utils/formatDate.js
Labels: Client, style, web

#242 issue 전체 조회 시 생성 순서의 역으로 정렬하도록 order 옵션 추가
  web/server/src/services/issues.js
Labels: API, Server, bug, web

#240 OAuth 관련 API 및 클라이언트 페이지 추가
  web/client/src/App.js
  web/client/src/pages/AuthPage.js
  web/client/src/pages/SignInPage.js
  web/server/package-lock.json
  web/server/package.json
  web/server/src/controllers/auths.js
  web/server/src/routes/auths.js
  web/server/src/routes/index.js
  web/server/src/services/auths.js
Labels: API, Client, Server, web

#238 이슈, 레이블, 마일스톤 스와이프, 삭제 구현, 그 외 자잘한 버그 수정
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/Supporting Files/Assets.xcassets/uncheck.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/ActionCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/MilestoneCollectionViewCell.swift
Labels: 🍎iOS

#245 유저 관련 API 및 JWT 모듈 구현
  web/server/package-lock.json
  web/server/package.json
  web/server/src/common/errorHandler.js
  web/server/src/common/jwt.js
  web/server/src/common/status.js
  web/server/src/controllers/users.js
  web/server/src/db/models/user.js
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/routes/users.js
  web/server/src/services/users.js
Labels: API, Server, model, web

#246 Issue 삭제 API 구현
  web/server/src/controllers/issues.js
  web/server/src/db/models/issue.js
  web/server/src/db/seeders/20201029062228-issue.js
  web/server/src/routes/issues.js
  web/server/src/services/issues.js
Labels: API, Server, web

#248 OAuth 인증 후 리다이렉트 설정
  web/server/src/controllers/auths.js
  web/server/src/services/auths.js
Labels: API, Server, web

#252 OAuth 인증 후 회원가입 및 로그인 토큰 발급 로직 추가
  web/server/src/controllers/auths.js
  web/server/src/db/models/authorization.js
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/services/authorization.js
  web/server/src/services/auths.js
  web/server/src/services/oAuths.js
Labels: API, Server, model, web

#253 dotenv 샘플 파일 추가
  web/server/.env.sample
Labels: Server, web

#254 환경변수로 웹 도메인 추가
  web/server/.env.sample
  web/server/src/controllers/auths.js
  web/server/src/services/auths.js
Labels: Server, web

#250 [iOS] 마크다운 적용 및 애니메이션 추가
  .gitignore
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Utils/UIView+Shake.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddIssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/CommentCollectionViewCell.swift
Labels: 🍎iOS

#255 OAuth 인증 후 access token 을 사용하는 회원 가입 로직 분리
  web/server/src/controllers/auths.js
  web/server/src/services/auths.js
Labels: API, Server, web

#256 Label 추가 컴포넌트 구현
  web/client/src/components/common/GreenButton.js
  web/client/src/components/labelList/LabelInput/CancelButton.js
  web/client/src/components/labelList/LabelInput/ColorInput.js
  web/client/src/components/labelList/LabelInput/DescriptionInput.js
  web/client/src/components/labelList/LabelInput/LabelInput.js
  web/client/src/components/labelList/LabelInput/NameInput.js
  web/client/src/components/labelList/LabelInput/RefreshButton.js
  web/client/src/components/labelList/LabelInput/SubmitButton.js
  web/client/src/components/labelList/LabelListNav.js
  web/client/src/pages/LabelListPage.js
  web/client/src/statics/svg/refreshIcon.js
  web/client/src/utils/getRandomColor.js
  web/client/src/utils/isValidColor.js
Labels: API, Client, style

#260 이슈 상세페이지 레이아웃 구현 & 자잘한 버그 수정
  web/client/src/App.js
  web/client/src/components/common/GreenButton.js
  web/client/src/components/common/ListHeader.js
  web/client/src/components/common/ProgressBar.js
  web/client/src/components/issueDetail/CommentInput.js
  web/client/src/components/issueDetail/CommentItem.js
  web/client/src/components/issueDetail/CommentList.js
  web/client/src/components/issueDetail/IssueDetailBody.js
  web/client/src/components/issueDetail/IssueDetailHeader.js
  web/client/src/components/issueDetail/sideBar/Assignee.js
  web/client/src/components/issueDetail/sideBar/Label.js
  web/client/src/components/issueDetail/sideBar/Milestone.js
  web/client/src/components/issueDetail/sideBar/SideBar.js
  web/client/src/components/issueDetail/sideBar/SideItem.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/milestoneList/MilestoneItem.js
  web/client/src/components/milestoneList/MilestoneProgress.js
  web/client/src/pages/IssueDetailPage.js
  web/client/src/statics/svg/setting.js
  web/client/src/utils/color.js
  web/server/src/db/seeders/20201103020642-comment.js
  web/server/src/services/issues.js
Labels: API, Client, Server, bug, style, web

#258 삭제 기능 구현 및 빈데이터 컴포넌트 추가
  web/client/src/components/common/EventButton.js
  web/client/src/components/common/LinkButton.js
  web/client/src/components/common/ListBody.js
  web/client/src/components/common/NoResult.js
  web/client/src/components/issueList/IssueListBody.js
  web/client/src/components/labelList/LabelItem.js
  web/client/src/components/labelList/LabelListBody.js
  web/client/src/components/milestoneList/MilestoneItem/CloseButton.js
  web/client/src/components/milestoneList/MilestoneItem/DeleteButton.js
  web/client/src/components/milestoneList/MilestoneItem/MilestoneItem.js
  web/client/src/components/milestoneList/MilestoneItem/MilestoneProgress.js
  web/client/src/components/milestoneList/MilestoneListBody.js
Labels: API, Client, style

#265 충돌 해결 과정에서 import path 오류로 인한 버그
  web/client/src/components/milestoneList/MilestoneItem/MilestoneProgress.js
Labels: Client, bug, web

#264 이슈에 레이블 뷰 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker/IssueDetailScene/Models/Comment.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/Models/IssueDetailInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/CommentViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/Views/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/Views/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Models/Issue.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Models/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Models/IssueInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/AddIssueViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Views/FilterCollectionViewListCell.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Views/IssueLabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Views/TitleSupplementaryView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/Models/Label.swift
  iOS/IssueTracker/IssueTracker/LabelScene/Models/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/LabelScene/Models/LabelInteractor.swift
  iOS/IssueTracker/IssueTracker/LabelScene/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/LabelScene/Views/LabelCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/Models/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/Models/MilestoneInteractor.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/Views/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlert/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlert/AddAlertDateInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlert/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/BadgeStackView.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/CommentCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/GithubLabel.swift
  iOS/IssueTracker/IssueTracker/Views/LabelStackView.swift
Labels: 🍎iOS

#266 Search Bar, Filter 버튼 레이아웃 및 체크박스 추가
  web/client/src/components/common/ListNav.js
  web/client/src/components/issueList/IssueItem.js
  web/client/src/components/issueList/IssueList.js
  web/client/src/components/issueList/IssueListBody.js
  web/client/src/components/issueList/IssueListHeader/IssueListHeader.js
  web/client/src/components/issueList/IssueListHeader/MainOption.js
  web/client/src/components/issueList/IssueListHeader/SelectedOption.js
  web/client/src/components/issueList/IssueListNav/FilterButton.js
  web/client/src/components/issueList/IssueListNav/FilterList.js
  web/client/src/components/issueList/IssueListNav/IssueListNav.js
  web/client/src/components/issueList/IssueListNav/SearchBar.js
  web/client/src/components/issueList/IssueListNav/SelectModal.js
  web/client/src/components/issueList/SearchBar.js
  web/client/src/pages/IssueListPage.js
  web/client/src/statics/svg/closeIcon.js
  web/client/src/statics/svg/searchIcon.js
Labels: Client, style, web

#269 필터 구현, 이슈, 레이블, 마일스톤 지정 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/AssignmentViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Views/FilterCollectionViewListCell.swift
  iOS/IssueTracker/IssueTracker/LabelScene/Models/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/MilestoneScene/Models/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Models/Assignment.swift
  iOS/IssueTracker/IssueTracker/Models/AssignmentInteractor.swift
  iOS/IssueTracker/IssueTracker/Models/User.swift
  iOS/IssueTracker/IssueTracker/Models/UserEndPoint.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: 🍎iOS

#270 이슈 상세 페이지 API 구현 & 팝업창 레이아웃 구현
  web/client/src/components/common/GreenButton.js
  web/client/src/components/issueDetail/CommentInput.js
  web/client/src/components/issueDetail/CommentItem.js
  web/client/src/components/issueDetail/IssueDetailBody.js
  web/client/src/components/issueDetail/IssueDetailHeader.js
  web/client/src/components/issueDetail/IssueDetailTitle.js
  web/client/src/components/issueDetail/IssueOpenClosedButton.js
  web/client/src/components/issueDetail/SubmitButton.js
  web/client/src/components/issueDetail/sideBar/Popup.js
  web/client/src/components/issueDetail/sideBar/SideBar.js
  web/client/src/components/issueDetail/sideBar/SideItem.js
  web/client/src/components/issueDetail/sideBar/assignees/AssigneeEl.js
  web/client/src/components/issueDetail/sideBar/assignees/AssigneePopEl.js
  web/client/src/components/issueDetail/sideBar/assignees/AssigneesPop.js
  web/client/src/components/issueDetail/sideBar/assignees/AssigneesTap.js
  web/client/src/components/issueDetail/sideBar/labels/LabelEl.js
  web/client/src/components/issueDetail/sideBar/labels/LabelPopEl.js
  web/client/src/components/issueDetail/sideBar/labels/LabelsPop.js
  web/client/src/components/issueDetail/sideBar/labels/LabelsTap.js
  web/client/src/components/issueDetail/sideBar/milestones/MilestoneEl.js
  web/client/src/components/issueDetail/sideBar/milestones/MilestonePopEl.js
  web/client/src/components/issueDetail/sideBar/milestones/MilestonesPop.js
  web/client/src/components/issueDetail/sideBar/milestones/MilestonesTap.js
  web/client/src/components/milestoneList/MilestoneItem/MilestoneItem.js
  web/client/src/utils/color.js
Labels: API, Client, component, web

#272 BottomSheet 내 레이블 여러개 표시, Assignment 후 상세화면 refresh
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/AssignmentViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/LabelStackView.swift
Labels: 🍎iOS

#273 선택 이슈 닫기 추가
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/AddIssueViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: 🍎iOS

#274 인증 후 라우팅 에러 수정
  web/client/src/auth/PrivateRoute.js
  web/client/src/auth/useProvideAuth.js
  web/server/src/controllers/auths.js
  web/server/src/controllers/users.js
  web/server/src/services/auths.js
Labels: Client, web

#276 Sequelize -> sequelize 수정
  web/server/src/services/issues.js
Labels: API, Server, bug, web

#277 버그수정 및 예외처리
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/AssignmentViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetailScene/ViewControllers/IssueBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/Models/IssueInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/FilterViewController.swift
  iOS/IssueTracker/IssueTracker/IssueListScene/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: 🍎iOS
