Repository boostcamp-2020/IssueTracker-16, pull requests merged in 2020-10, with the labels that each got.

#10 [iOS] 탭바 설정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/IssueViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/ViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: iOS

#12 [iOS] label 탭 기본 설정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: iOS

#15 [iOS] 레이블 탭 콜렉션 뷰 셀 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/CustomLabelView.swift
Labels: iOS

#21 [ISSUE#4] model(user, oAuth, oAuthUser, image) 생성
  web/server/src/db/models/image.js
  web/server/src/db/models/oAuth.js
  web/server/src/db/models/oAuthUser.js
  web/server/src/db/models/user.js
Labels: Server

#22 [ISSUE#20] model 관계 형성 및 시더 설정
  web/server/src/db/models/assignee.js
  web/server/src/db/models/image.js
  web/server/src/db/models/index.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/issueLabel.js
  web/server/src/db/models/label.js
  web/server/src/db/models/milestone.js
  web/server/src/db/models/oAuth.js
  web/server/src/db/models/oAuthUser.js
  web/server/src/db/models/reply.js
  web/server/src/db/models/user.js
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/db/seeders/20201027084055-oAuth.js
  web/server/src/db/seeders/20201027084123-label.js
  web/server/src/db/seeders/20201027084138-milestone.js
Labels: Server

#23 [iOS] 추가&편집화면에 들어갈 텍스트 뷰 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
Labels: iOS

#26 [iOS] 추가&편집화면 UI
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Utils/UIView+IBInspectable.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/BlockResponderView.swift
  iOS/IssueTracker/IssueTracker/Views/CustomLabelView.swift
Labels: iOS

#43 [iOS] 레이블 탭 컬렉션 뷰 셀 터치 이벤트 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Utils/UIColor+hexString.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/CustomLabelView.swift
  iOS/IssueTracker/IssueTracker/Views/LabelCollectionViewCell.swift
Labels: 🍎iOS

#47 [server] labels api 초기 설정 및 getOne api
  web/server/src/controllers/labels.js
  web/server/src/routes/index.js
  web/server/src/routes/labels.js
  web/server/src/routes/users.js
  web/server/src/services/labels.js
Labels: Server

#45 [WIP] [iOS] Network layer 생성 및 API 세팅
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Services/APIManager.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/EndPoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/Usecase/LabelInteractor.swift
  iOS/IssueTracker/IssueTracker/Utils/UIColor+hexString.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/NetworkService/Encoding/JSONParameterEncoder.swift
  iOS/IssueTracker/NetworkService/Encoding/ParameterEncoding.swift
  iOS/IssueTracker/NetworkService/Encoding/URLParametrEncoder.swift
  iOS/IssueTracker/NetworkService/Info.plist
  iOS/IssueTracker/NetworkService/NetworkService.h
  iOS/IssueTracker/NetworkService/Service/EndPointType.swift
  iOS/IssueTracker/NetworkService/Service/HTTPMethod.swift
  iOS/IssueTracker/NetworkService/Service/HTTPTask.swift
  iOS/IssueTracker/NetworkService/Service/NetworkManager.swift
Labels: 🍎iOS

#50 [server] labels 삭제 API
  web/server/src/controllers/labels.js
  web/server/src/routes/labels.js
  web/server/src/services/labels.js
Labels: Server

#49 [server] labels 조회 API
  web/server/src/controllers/labels.js
  web/server/src/routes/labels.js
  web/server/src/services/labels.js
Labels: Server

#56 [server] labels 추가 API
  web/server/src/controllers/labels.js
  web/server/src/db/models/label.js
  web/server/src/routes/labels.js
  web/server/src/services/labels.js
Labels: Server

#57 [server] docker-compose 설정 변경
  .gitignore
  docker-compose.example.yml
Labels: Server

#59 [server] labels update api 추가
  web/server/src/controllers/labels.js
  web/server/src/routes/labels.js
  web/server/src/services/labels.js
Labels: Server

#60 [server] 프로젝트 설정, Label API 구현
  .gitignore
  docker-compose.example.yml
  web/client/.eslintrc.json
  web/client/.gitignore
  web/client/.prettierrc.json
  web/client/README.md
  web/client/empty.txt
  web/client/package-lock.json
  web/client/package.json
  web/client/public/favicon.ico
  web/client/public/index.html
  web/client/public/logo192.png
  web/client/public/logo512.png
  web/client/public/manifest.json
  web/client/public/robots.txt
  web/client/src/App.css
  web/client/src/App.js
  web/client/src/App.test.js
  web/client/src/index.css
  web/client/src/index.js
  web/client/src/logo.svg
  web/client/src/reportWebVitals.js
  web/client/src/setupTests.js
  web/package-lock.json
  web/package.json
  web/server/.eslintrc.json
  web/server/.prettierrc.json
  web/server/.sequelizerc
  web/server/package-lock.json
  web/server/package.json
  web/server/src/controllers/labels.js
  web/server/src/db/models/assignee.js
  web/server/src/db/models/image.js
  web/server/src/db/models/index.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/issueLabel.js
  web/server/src/db/models/label.js
  web/server/src/db/models/milestone.js
  web/server/src/db/models/oAuth.js
  web/server/src/db/models/oAuthUser.js
  web/server/src/db/models/reply.js
  web/server/src/db/models/user.js
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/db/seeders/20201027084055-oAuth.js
  web/server/src/db/seeders/20201027084123-label.js
  web/server/src/db/seeders/20201027084138-milestone.js
  web/server/src/routes/index.js
  web/server/src/routes/labels.js
  web/server/src/routes/users.js
  web/server/src/services/labels.js
Labels: Server

#63 [server] Label 컨트롤러 수정
  web/server/.eslintrc.json
  web/server/package-lock.json
  web/server/package.json
  web/server/src/controllers/labels.js
  web/server/src/services/labels.js
Labels: Server

#64 [server] milestones API 초기 세팅
  web/server/src/controllers/milestones.js
  web/server/src/routes/index.js
  web/server/src/routes/milestones.js
  web/server/src/services/milestones.js
Labels: Server

#68 [server] Milestone 추가 API
  web/server/src/controllers/milestones.js
  web/server/src/services/milestones.js
Labels: Server

#65 [server] Milestone 수정 API
  web/server/src/controllers/milestones.js
  web/server/src/services/milestones.js
Labels: Server

#67 [server] Milestone 삭제 API
  web/server/src/controllers/milestones.js
  web/server/src/services/milestones.js
Labels: Server

#69 [server] Milestone 조회 API
  web/server/src/common/query.js
  web/server/src/controllers/milestones.js
  web/server/src/services/milestones.js
Labels: Server

#70 [server] Milestone 테이블 제약조건 추가
  web/server/src/controllers/milestones.js
  web/server/src/db/models/milestone.js
Labels: Server

#72 [server] Issue seeder 파일 추가
  web/server/src/db/seeders/20201029062228-issue.js
Labels: Server

#71 [iOS] 레이블, 마일스톤 추가&편집화면 기능 추가 구현
  .gitignore
  docker-compose.example.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Utils/UIColor+hexString+random.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertDateInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/MilestoneCollectionViewCell.swift
  web/client/.eslintrc.json
  web/client/.gitignore
  web/client/.prettierrc.json
  web/client/README.md
  web/client/empty.txt
  web/client/package-lock.json
  web/client/package.json
  web/client/public/favicon.ico
  web/client/public/index.html
  web/client/public/logo192.png
  web/client/public/logo512.png
  web/client/public/manifest.json
  web/client/public/robots.txt
  web/client/src/App.css
  web/client/src/App.js
  web/client/src/App.test.js
  web/client/src/index.css
  web/client/src/index.js
  web/client/src/logo.svg
  web/client/src/reportWebVitals.js
  web/client/src/setupTests.js
  web/package-lock.json
  web/package.json
  web/server/.eslintrc.json
  web/server/.prettierrc.json
  web/server/.sequelizerc
  web/server/package-lock.json
  web/server/package.json
  web/server/src/controllers/labels.js
  web/server/src/db/models/assignee.js
  web/server/src/db/models/image.js
  web/server/src/db/models/index.js
  web/server/src/db/models/issue.js
  web/server/src/db/models/issueLabel.js
  web/server/src/db/models/label.js
  web/server/src/db/models/milestone.js
  web/server/src/db/models/oAuth.js
  web/server/src/db/models/oAuthUser.js
  web/server/src/db/models/reply.js
  web/server/src/db/models/user.js
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/db/seeders/20201027084055-oAuth.js
  web/server/src/db/seeders/20201027084123-label.js
  web/server/src/db/seeders/20201027084138-milestone.js
  web/server/src/routes/index.js
  web/server/src/routes/labels.js
  web/server/src/routes/users.js
  web/server/src/services/labels.js
Labels: 🍎iOS

#76 [server] 에러 핸들러 모듈 구현
  web/server/src/app.js
  web/server/src/common/errorHandler.js
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
  web/server/src/routes/labels.js
  web/server/src/routes/milestones.js
Labels: Server

#73 [iOS] 네트워크 계층 수정
  iOS/IssueTracker/IssueTracker/Services/APIManager.swift
  iOS/IssueTracker/NetworkService/Service/DataRequest.swift
  iOS/IssueTracker/NetworkService/Service/DownloadRequest.swift
  iOS/IssueTracker/NetworkService/Service/NetworkManager.swift
  iOS/IssueTracker/NetworkService/Service/Request.swift
  iOS/IssueTracker/NetworkService/Service/SessionManager.swift
Labels: 🍎iOS

#77 [server] 에러 핸들러 적용 - 레이블 추가, 마일스톤 수정, 삭제
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
  web/server/src/routes/labels.js
  web/server/src/routes/milestones.js
Labels: Server

#78 [server] 에러 핸들러 적용 - 레이블 조회, 삭제, 마일스톤 등록
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
  web/server/src/routes/labels.js
  web/server/src/routes/milestones.js
Labels: Server

#79 [server] 에러 핸들러 적용 - 라벨 단건 조회, 수정 및 마일스톤 조회
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
  web/server/src/routes/labels.js
  web/server/src/routes/milestones.js
Labels: Server

#81 [server] date 유효성 확인 에러 핸들러 모듈 적용
  web/server/src/controllers/milestones.js
Labels: Server

#84 [iOS] label update 로직 수정
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
Labels: 🍎iOS

#85 [server] Milestone 전체 목록 조회 및 수정 API 수정
  web/server/src/controllers/labels.js
  web/server/src/controllers/milestones.js
Labels: Server

#89 [server] 에러 핸들러 로직 수정
  web/server/src/common/errorHandler.js
Labels: Server

#91 [server] 테스트 데이터 수정
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/db/seeders/20201027084123-label.js
  web/server/src/db/seeders/20201027084138-milestone.js
  web/server/src/db/seeders/20201029062228-issue.js
Labels: Server

#94 [common] README.md 수정
  README.md
Labels: documentation

#80 [iOS] 레이블, 마일스톤 추가&편집화면 기능 추가, 네트워크 계층 개선
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/Services/APIManager.swift
  iOS/IssueTracker/IssueTracker/Services/Label.swift
  iOS/IssueTracker/IssueTracker/Utils/UIColor+hexString+random.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/AddAlertViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/LabelViewController.swift
  iOS/IssueTracker/IssueTracker/ViewControllers/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertColorInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertDateInputView.swift
  iOS/IssueTracker/IssueTracker/Views/AddAlertInputView.swift
  iOS/IssueTracker/IssueTracker/Views/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Views/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/NetworkService/Service/DataRequest.swift
  iOS/IssueTracker/NetworkService/Service/DownloadRequest.swift
  iOS/IssueTracker/NetworkService/Service/NetworkManager.swift
  iOS/IssueTracker/NetworkService/Service/Request.swift
  iOS/IssueTracker/NetworkService/Service/SessionManager.swift
Labels: Merge:dev, 🍎iOS

#93 [server] Milestone 전체 조회 API 리팩토링
  web/server/src/common/query.js
  web/server/src/services/milestones.js
Labels: Server

#95 [server] 테스트 데이터 수정 및 Milestone 전체 조회 API 리팩토링
  web/server/src/common/query.js
  web/server/src/db/seeders/20201027083954-user.js
  web/server/src/db/seeders/20201027084123-label.js
  web/server/src/db/seeders/20201027084138-milestone.js
  web/server/src/db/seeders/20201029062228-issue.js
  web/server/src/services/milestones.js
Labels: Merge:dev, Server
